/*
 * CSS File for the solution
 * Midterm Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *   #ede0d4
 *   #e6ccb2
 *   #ddb892
 *   #b08968
 *   #7f5539
 *   #9c6644
 *
 * https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
 */

/*
 * The width of my Product Card in the screenshot was 400px
 * You can use that width or set your own width
 */

/*
 * HINT: For making image fill the container use object-fit:cover property:
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 */

html {
  font-size: 1.0rem;
  @import url(https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap);
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  margin: 20px;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.product-description {
  font-size: 14px;
  margin: 10px 0;
}

.product-price {
  font-size: 16px;
  color: #3d251e;
  font-weight: bold;
  margin: 10px 0;
}

.buy-button {
  display: block;
  background-color: #3d251e;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

